<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{requestId:-}] [%X{userId:-}] %logger{36} - %msg%n"/>

    <!-- Console -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>

    </appender>

    <!-- API logs -->
    <logger name="com.seatreservation" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root logs -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Suppress noisy Spring internals -->
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.springframework.web.servlet" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure" level="WARN"/>

</configuration>
